header {
    height: 350px;
    background-image: url('asset/head.jpg');
    background-size: cover;
    background-position: center center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Nanum Brush Script', cursive;
}

.wiro_size {
    font-size: 30px;
}